body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    border: none;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0c9; 
}


.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.holder {
    width: 80%;
    padding: 30px;
    margin-top: 20px;
    background-color: #F1CE4D;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

option {
    background-color: #f0f0c9;
    color: #124e78;
}

option:disabled {
    background-color: #124e78;
    color: #f0f0c9;
}

select:focus {
    outline: none;
}

#search {
    width: 50%;
    padding: 8px;
    background-color: #f0f0c9;
    color: #124e78;
    border-bottom: 1px solid #124e78;
    font-size: 24px;
    line-height: 1.5;
    border-radius: 15px;
    text-align: center;
}

.btn {
    background-color: #124e78;
    border: 1px solid #124e78;
    padding: 8px 16px;
    border-radius: 8px;
    color: #f0f0c9;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: #f0f0c9;
    color:#124e78
}

.info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.all-statistic {
    width: 58%;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 40px;
    font-weight: 600;
    color: #124e78;
    padding-bottom: 10px;
}

.header {
    border: 1px solid #124e78;
    background-color: #124e78;
    color: #f0f0c9;
    font-size: 26px;
    padding-left: 16px;
}

.statistic-list {
    padding: 0px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.2;
}

.forBcgColor {
    background-color: #124e78;
    color: #f0f0c9;
    padding: 0 10px;
}

.numbers {
    font-family: caveat, sans-serif;
    font-size: 26px;
    font-weight: 700;
    padding-left: 10px;
    line-height: 0.9;
}

.statistic {
    padding-top: 16px;
    color: #124e78;
    border-bottom: 1px solid #124e78;
    font-size: 20px;
}

.symbols {
    width: 40%;
    border: 2px solid #124e78;
    display: flex;
    flex-direction: column;  
}

.flagDiv {
    padding: 10px;
    text-align: center;
    background-color: #f0f0c9;
}

.coatOfArmsDiv {
    padding: 10px;
    text-align: center;
    background-color: #f0f0c9;
}

#flag {
    width: 40%;
}

#coatOfArms {
    width: 40%;
}

.neighbours {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.neighbour {
    color: #124e78;
    font-size: 20px;
}

li {
    list-style-type:none;
}

@media (max-width: 700px){  
    .info {
        flex-direction: column;
        }
    
    .all-statistic {
        width: 100%;
    }

    .symbols {
        width: 100%;
        margin-top: 20px;
    }

    .holder {
        width: 100%;
    }

    #search {
        width: 80%;
        font-size: 20px;
    }

    .title {
        font-size: 30px;
    }

    .header {
        font-size: 24px;
    }

    .forBcgColor {
        font-size: 20px;
    }

    .row {
        font-size: 20px;
    }
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0%;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.9);
    display: none;
}

.row {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.loader {
    border: 10px solid #f0f0c9;
    border-top: 10px solid #124e78;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}